# Importação de dados:

In [82]:
import pandas as pd

## Empréstimos:

In [83]:
emprestimo_2010_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv')
emprestimo_2010_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv')
emprestimo_2011_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv')
emprestimo_2011_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv')
emprestimo_2012_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20121.csv')
emprestimo_2012_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv')
emprestimo_2013_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv')
emprestimo_2013_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv')
emprestimo_2014_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv')
emprestimo_2014_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv')
emprestimo_2015_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv')
emprestimo_2015_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv')
emprestimo_2016_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv')
emprestimo_2016_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20162.csv')
emprestimo_2017_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20171.csv')
emprestimo_2017_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20172.csv')
emprestimo_2018_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20181.csv')
emprestimo_2018_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20182.csv')
emprestimo_2019_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20191.csv')
emprestimo_2019_2 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20192.csv')
emprestimo_2020_1 = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv')

In [84]:
emprestimos = pd.concat([emprestimo_2010_1, emprestimo_2010_2, emprestimo_2011_1, emprestimo_2011_2, 
                         emprestimo_2012_1, emprestimo_2012_2, emprestimo_2013_1, emprestimo_2013_2, 
                         emprestimo_2014_1, emprestimo_2014_2, emprestimo_2015_1, emprestimo_2015_2, 
                         emprestimo_2016_1, emprestimo_2016_2, emprestimo_2017_1, emprestimo_2017_2, 
                         emprestimo_2018_1, emprestimo_2018_2, emprestimo_2019_1, emprestimo_2019_2, 
                         emprestimo_2020_1])

In [85]:
emprestimos.sample(3)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
52414,2633045,2014058897,2018/04/20 09:26:17.891000000,2018/04/05 18:44:07.182000000,2018/05/10 16:14:37.000000000,2.016011e+10,ALUNO DE GRADUAÇÃO
60365,2640998,2012009825,2018/04/30 21:39:23.754000000,2018/04/17 12:53:53.036000000,2018/05/08 13:33:23.000000000,2.015010e+09,ALUNO DE GRADUAÇÃO
78598,2861500,2017036680,NaN,2019/05/22 10:35:32.372000000,2019/06/06 20:32:12.000000000,2.015054e+09,ALUNO DE GRADUAÇÃO

In [86]:
emprestimos.shape

(2258018, 7)

In [87]:
emprestimos.dtypes

id_emprestimo             int64
codigo_barras            object
data_renovacao           object
data_emprestimo          object
data_devolucao           object
matricula_ou_siape      float64
tipo_vinculo_usuario     object
dtype: object

In [88]:
emprestimos[['data_renovacao', 'data_emprestimo', 'data_devolucao']] = emprestimos[['data_renovacao', 
                                                                                    'data_emprestimo', 
                                                                                    'data_devolucao']].apply(pd.to_datetime)
emprestimos['matricula_ou_siape'] = emprestimos.matricula_ou_siape.astype(str)
emprestimos.sample(3)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
14855,2702607,2012036700,2018-08-20 14:32:09.775,2018-08-06 10:41:48.135,2018-08-29 20:22:28,2012941680.0,ALUNO DE GRADUAÇÃO
344,1282844,2012034109,NaT,2012-07-02 20:35:08.323,2012-07-12 08:54:48,2011307082.0,ALUNO MÉDIO/TÉCNICO
101729,1501795,2012067672,NaT,2013-05-09 15:34:41.160,2013-05-15 15:01:18,2010018583.0,ALUNO DE GRADUAÇÃO

In [89]:
emprestimos.dtypes

id_emprestimo                    int64
codigo_barras                   object
data_renovacao          datetime64[ns]
data_emprestimo         datetime64[ns]
data_devolucao          datetime64[ns]
matricula_ou_siape              object
tipo_vinculo_usuario            object
dtype: object

In [90]:
emprestimos.isna().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1285720
data_emprestimo               0
data_devolucao             6471
matricula_ou_siape            0
tipo_vinculo_usuario          0
dtype: int64

## Acervo:

In [91]:
acervo = pd.read_parquet('/content/dados_exemplares.parquet')
acervo.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [92]:
acervo.sample(5)

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
406136,1021441,2012062722,Multimeios,Biblioteca Setorial Pe. Jaime Diniz - Escola d...,ESPECIAL,336,187898
261463,259614,2008032080,Acervo Circulante,Biblioteca Setorial do Centro de Ciências Huma...,REGULAR,648,112264
503782,1213189,2016001046,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,540,228129
545643,1343826,2018031319,Folhetos,Biblioteca Central Zila Mamede,REGULAR,716,249854
69797,1194550,2015022909,Acervo Circulante,Biblioteca Setorial Pe. Jaime Diniz - Escola d...,REGULAR,667,26548

In [93]:
acervo.shape

(546237, 7)

In [94]:
acervo.dtypes

id_exemplar          int64
codigo_barras       object
colecao             object
biblioteca          object
status_material     object
localizacao          int64
registro_sistema     int64
dtype: object

In [95]:
acervo.isna().sum()

id_exemplar         0
codigo_barras       0
colecao             0
biblioteca          0
status_material     0
localizacao         0
registro_sistema    0
dtype: int64

# Merge:

In [96]:
teste = pd.read_csv('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv')
teste.shape

(26561, 7)

In [97]:
teste.merge(acervo, how = 'inner', on = 'codigo_barras')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,2962509,2007005628,NaN,2020/01/02 08:17:30.290000000,2020/01/07 11:14:07.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO,216276,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,640,87626
1,2962511,2012008328,NaN,2020/01/02 08:17:30.436000000,2020/01/07 11:24:46.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO,971301,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,350,176661
2,2962852,2012008328,NaN,2020/01/07 11:27:49.186000000,2020/01/07 11:27:56.000000000,1.985042e+08,DOCENTE,971301,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,350,176661
3,2962512,2012055016,2020/01/17 09:56:18.380000000,2020/01/02 08:36:40.163000000,2020/01/31 14:53:52.000000000,2.019015e+10,ALUNO DE GRADUAÇÃO,1019380,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,696,168729
4,2962513,L197391,2020/01/17 23:50:18.862000000,2020/01/02 09:36:03.877000000,2020/01/24 08:18:19.000000000,2.018005e+10,ALUNO DE GRADUAÇÃO,177552,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,67693
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25605,2989076,2019014718,NaN,2020/03/19 10:18:42.837000000,NaN,2.019101e+10,ALUNO DE PÓS-GRADUAÇÃO,1323312,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,514,236084
25606,2989077,2014012921,NaN,2020/03/19 14:41:57.754000000,2021/08/18 16:28:37.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,1107682,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,364,178538
25607,2989079,2012010451,NaN,2020/03/19 14:43:40.666000000,2021/08/18 16:29:00.000000000,2.019102e+10,ALUNO DE PÓS-GRADUAÇÃO,984573,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,379,179637
25608,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,67712
25609,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,205153

In [98]:
teste.merge(acervo, how = 'left', on = 'codigo_barras')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,2962509,2007005628,NaN,2020/01/02 08:17:30.290000000,2020/01/07 11:14:07.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO,216276.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,640.0,87626.0
1,2962510,L202802,NaN,2020/01/02 08:17:30.391000000,2020/01/07 11:14:17.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO,NaN,NaN,NaN,NaN,NaN,NaN
2,2962511,2012008328,NaN,2020/01/02 08:17:30.436000000,2020/01/07 11:24:46.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO,971301.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,350.0,176661.0
3,2962512,2012055016,2020/01/17 09:56:18.380000000,2020/01/02 08:36:40.163000000,2020/01/31 14:53:52.000000000,2.019015e+10,ALUNO DE GRADUAÇÃO,1019380.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,696.0,168729.0
4,2962513,L197391,2020/01/17 23:50:18.862000000,2020/01/02 09:36:03.877000000,2020/01/24 08:18:19.000000000,2.018005e+10,ALUNO DE GRADUAÇÃO,177552.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699.0,67693.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26631,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0,110098.0
26632,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0,110171.0
26633,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0,134173.0
26634,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0,67712.0
26635,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0,205153.0

In [99]:
teste.merge(acervo, how = 'right', on = 'codigo_barras')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,NaN,L000003,NaN,NaN,NaN,NaN,NaN,5,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,NaN,L000002,NaN,NaN,NaN,NaN,NaN,4,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,NaN,L000001,NaN,NaN,NaN,NaN,NaN,3,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,NaN,L000114,NaN,NaN,NaN,NaN,NaN,7,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
4,NaN,L000041,NaN,NaN,NaN,NaN,NaN,10,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
549749,NaN,2021011150,NaN,NaN,NaN,NaN,NaN,1353472,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
549750,NaN,2019013454,NaN,NaN,NaN,NaN,NaN,1353473,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
549751,NaN,2019012811,NaN,NaN,NaN,NaN,NaN,1353474,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
549752,NaN,2019013451,NaN,NaN,NaN,NaN,NaN,1353475,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
549753,NaN,2019012276,NaN,NaN,NaN,NaN,NaN,1353476,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236


Diante o resultado destes testes, achei melhor fazer a união através do *inner* e perder alguns registros, do que acabar criando dados.

---

In [100]:
dados = emprestimos.merge(acervo, how = 'inner', on = 'codigo_barras')
dados.head(3)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225

In [101]:
dados.shape

(2072558, 13)

In [102]:
dados.isna().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1162088
data_emprestimo               0
data_devolucao             6178
matricula_ou_siape            0
tipo_vinculo_usuario          0
id_exemplar                   0
colecao                       0
biblioteca                    0
status_material               0
localizacao                   0
registro_sistema              0
dtype: int64

# Limpeza:

In [103]:
dados.id_emprestimo.value_counts()

709705     7
709704     7
2422542    6
2460196    4
2378367    4
          ..
1275779    1
1242892    1
1122431    1
1099303    1
2989061    1
Name: id_emprestimo, Length: 1955945, dtype: int64

In [104]:
dados.data_emprestimo.value_counts()

2010-01-04 09:58:46.522    7
2010-01-04 09:58:46.549    7
2018-11-22 18:28:01.619    3
2015-06-02 17:56:18.917    3
2014-07-14 15:35:51.822    3
                          ..
2010-12-27 12:09:21.821    1
2010-11-12 11:05:56.168    1
2010-11-12 11:04:24.054    1
2010-11-12 11:04:01.919    1
2020-03-17 21:22:22.138    1
Name: data_emprestimo, Length: 2068691, dtype: int64

In [105]:
dados.query('id_emprestimo == 709705')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
386,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUAÇÃO,273487,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,623,120127
387,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUAÇÃO,273487,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,623,120127
388,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUAÇÃO,273487,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,623,120127
389,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUAÇÃO,273487,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,623,120127
390,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUAÇÃO,273487,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,623,120127
391,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUAÇÃO,273487,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,623,120127
392,709705,2009032168,2010-01-17 18:56:43.909,2010-01-04 09:58:46.549,2010-01-20 13:14:34.464,2008009890.0,ALUNO DE GRADUAÇÃO,273487,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,623,120127

In [106]:
dados.query('id_emprestimo == 709704')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
335,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUAÇÃO,199419,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,77866
336,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUAÇÃO,199419,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,77866
337,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUAÇÃO,199419,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,77866
338,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUAÇÃO,199419,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,77866
339,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUAÇÃO,199419,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,77866
340,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUAÇÃO,199419,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,77866
341,709704,2006021442,2010-01-17 18:56:43.923,2010-01-04 09:58:46.522,2010-02-01 13:59:02.528,2008009890.0,ALUNO DE GRADUAÇÃO,199419,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,77866

In [107]:
dados.query('id_emprestimo == 2422542')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
1942875,2422542,2016015319,NaT,2016-04-20 21:07:44.036,2016-05-02 08:22:54,2015041228.0,ALUNO DE GRADUAÇÃO,1237700,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,32,220086
1942876,2422542,2016015319,NaT,2016-04-20 21:07:44.036,2016-05-02 08:22:54,2015041228.0,ALUNO DE GRADUAÇÃO,1239476,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,9,220086
1942877,2422542,2016015319,NaT,2016-04-20 21:07:44.036,2016-05-02 08:22:54,2015041228.0,ALUNO DE GRADUAÇÃO,1239477,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,535,234806
1942878,2422542,2016015319,NaT,2017-04-20 21:07:44.036,2017-05-02 08:22:54,2015041228.0,ALUNO DE GRADUAÇÃO,1237700,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,32,220086
1942879,2422542,2016015319,NaT,2017-04-20 21:07:44.036,2017-05-02 08:22:54,2015041228.0,ALUNO DE GRADUAÇÃO,1239476,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,9,220086
1942880,2422542,2016015319,NaT,2017-04-20 21:07:44.036,2017-05-02 08:22:54,2015041228.0,ALUNO DE GRADUAÇÃO,1239477,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,535,234806

In [108]:
dados.query('id_emprestimo == 2352752')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
1868642,2352752,2016019472,2016-02-07 13:09:55.390,2016-01-10 14:34:20.217,2016-02-08 18:09:22,2014109820.0,ALUNO DE PÓS-GRADUAÇÃO,1234310,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,534,233498
1868643,2352752,2016019472,2016-02-07 13:09:55.390,2016-01-10 14:34:20.217,2016-02-08 18:09:22,2014109820.0,ALUNO DE PÓS-GRADUAÇÃO,1234422,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,553,233539
1868666,2352752,2016019472,2017-02-07 13:09:55.390,2017-01-10 14:34:20.217,2017-02-08 18:09:22,2014109820.0,ALUNO DE PÓS-GRADUAÇÃO,1234310,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,534,233498
1868667,2352752,2016019472,2017-02-07 13:09:55.390,2017-01-10 14:34:20.217,2017-02-08 18:09:22,2014109820.0,ALUNO DE PÓS-GRADUAÇÃO,1234422,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,553,233539

In [109]:
dados.query('id_emprestimo == 2375005')

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
1800746,2375005,2015008424,NaT,2016-02-23 08:47:09.769,2016-03-03 08:18:40,2012962072.0,ALUNO DE GRADUAÇÃO,1180951,Acervo Circulante,Biblioteca Setorial do Departamento de Artes -...,REGULAR,103,219701
1800747,2375005,2015008424,NaT,2016-02-23 08:47:09.769,2016-03-03 08:18:40,2012962072.0,ALUNO DE GRADUAÇÃO,1181550,Acervo Circulante,Biblioteca Setorial do Departamento de Artes -...,REGULAR,17,219865
1800756,2375005,2015008424,NaT,2017-02-23 08:47:09.769,2017-03-03 08:18:40,2012962072.0,ALUNO DE GRADUAÇÃO,1180951,Acervo Circulante,Biblioteca Setorial do Departamento de Artes -...,REGULAR,103,219701
1800757,2375005,2015008424,NaT,2017-02-23 08:47:09.769,2017-03-03 08:18:40,2012962072.0,ALUNO DE GRADUAÇÃO,1181550,Acervo Circulante,Biblioteca Setorial do Departamento de Artes -...,REGULAR,17,219865

In [110]:
dados = dados.drop_duplicates()
dados

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2008023265.0,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2009121584.0,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
3,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2008023265.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
5,717763,L167050,NaT,2010-02-11 11:16:30.335,2010-03-04 08:54:32.262,2008050352.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
6,729996,L167050,2010-03-17 09:08:26.874,2010-03-04 13:36:26.599,2010-03-31 18:04:29.669,200722565.0,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989018,2009036492,NaT,2020-03-17 19:49:10.187,2020-12-03 08:12:20.000,20150109837.0,ALUNO DE GRADUAÇÃO,274820,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,120845
2072554,2989020,2014062640,NaT,2020-03-17 19:51:15.700,2021-01-07 11:16:28.000,20190035012.0,ALUNO DE GRADUAÇÃO,1157915,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,228,213248
2072555,2989032,2018003324,NaT,2020-03-17 20:00:11.416,2021-08-30 13:29:44.000,20191021693.0,ALUNO DE PÓS-GRADUAÇÃO,1317173,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,784,255835
2072556,2989049,2006024313,NaT,2020-03-17 20:47:18.741,NaT,20150129867.0,ALUNO DE GRADUAÇÃO,206073,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,663,82178
2072557,2989061,2018031352,NaT,2020-03-17 21:22:22.138,2021-07-26 15:05:20.000,20200005327.0,ALUNO DE GRADUAÇÃO,1342535,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,355,174443